header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  padding: .4rem;
  position: fixed;
  width: 100%;

  .icon {
    height: 1.5rem;
    margin: .7rem;
  }
  
  .logo {
    height: 3rem;
    margin: auto;
    padding-left: 3.6rem;
    text-decoration: none;

    img {
      width: 6rem;
    }

    &:hover {
      opacity: .7;
    }

    &.no-back {
      padding-left: 2.55rem;
    }
  }
}



.header--nav {
  display: inline-block;
}

.header--nav-item {
  display: inline-block;
  list-style-type: none;
  margin: auto .3rem;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      opacity: .7;
    }
  }
}

.header--profile-ico {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin-right: .5rem;
  vertical-align: baseline;
}
