body,
ul {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 5rem 3rem 2rem;

  &.main--full {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    margin: 4rem 0 0;

    .tab--content {
      margin: 0 3rem 2rem;
    }
  }
}

.content {
  display: flex;
  width: 100%;

  .content--part {
    width: 100%;

    @media screen and (min-width: $breakpoint-large) {
      width: 33%;
    }
  }
}

.full-content {
  display: flex;
  margin: 0;
  padding: 0;
}
