$theme-color: $helper-color;
$theme-color-secondary: $tertiary-color-2;

.helper {
  h1 {
    color: $theme-color-secondary;
  }

  footer,
  header {
    background: $theme-color;
  }

  .btn {
    background: $theme-color-secondary;
  }

  &.login {
    background-color: $theme-color;

    h1 {
      color: $theme-color;
    }

    label {
      color: $text-color;
    }

    input {
      &.btn {
        background-color: $theme-color-secondary;
      }
    }

    .form--input-focused {
      input {
        border-bottom-color: $theme-color-secondary;
      }
    }
  }

  form {
    label {
      color: $text-color;
    }

    .form--input-focused {
      input {
        border-bottom-color: $theme-color-secondary;
      }

      label {
        color: $theme-color;
      }
    }
  }
}
