header .icon {
	height: 1.5rem;
	margin: 0.7rem;
}
/*
header .left {
	float: left;
}

header .right {
	float: right;
}
*/
header {
	padding: 0.4rem;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
}

main {
	margin-top: 5rem;
}

header .logo {
	height: 3rem;
	margin: auto;
}