/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
	font-family: "Fontastique";
	src: url('../res/fonts/fontastique.ttf');
}
@font-face {
	font-family: "Proxima Nova";
	src: url('../res/fonts/Proxima Nova Alt Regular.ttf');
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: bold;
	src: url('../res/fonts/Proxima Nova Alt Bold.ttf');
}

:root {
    --1-green: #78e08f; 
    --2-green: #0f5e54; 
    --grey: #d9d9d9; 
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#EEFBF1;
    font-family:"Proxima Nova", sans-serif;
    font-size:1.5rem;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}
img.appname {
	height: 6rem;
	text-align:center;
}
h1 {
    font-size:3rem;
	font-family: "Fontastique";
    font-weight:normal;
	color: var(--1-green);
    text-align:center;
}

button {
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.5rem;
	font-family:"Proxima Nova", sans-serif;
    padding: .5rem
}

button:hover {
    opacity: .8
}

button.plain {
	background: var(--2-green);
	color: #fff;
}
button.blank {
	background: #fff;
	color:  var(--2-green);
	border: 1px solid var(--2-green);
}

form {
	width: 80%;
	margin: auto
}

form button,form input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

form button {
    margin-top: 1.5rem
}

form .form--input-date,form .form--input-email,form .form--input-number,form .form--input-password,form .form--input-tel,form .form--input-text {
    border-bottom: 1px solid var(--grey);;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 1rem;
    margin-top: .7rem;
    position: relative;
	background-color: rgba(0,0,0,0)
}

form .form--input-date:focus,form .form--input-email:focus,form .form--input-number:focus,form .form--input-password:focus,form .form--input-tel:focus,form .form--input-text:focus {
    outline: 0
}

form label {
    bottom: -1.9rem;
    color: var(--2-green);
    position: relative;
    z-index: 1;
}

form .form--fixed-label {
    bottom: 0;
    display: inline-block;
    margin-top: 1.9rem
}

/*
.form--input-focused {
    margin-top: .7rem
}
*/

.form--input-focused label {
    bottom: -.2rem;
    color: var(--1-green);
    font-size: .8rem;
    font-weight: 700
}

.form--input-focused input {
    border-bottom-color: var(--1-green);
}